@import 'codes';
@import 'animation';

$font-formats: (
  'woff2': 'woff2',
  'woff': 'woff',
  'ttf': 'truetype',
  // 'svg#mangadventure': 'svg',
  // 'eot': 'embedded-opentype',
);

@font-face {
  $src: null;
  @each $ext, $format in $font-formats {
    $url: '#{'../font/mangadventure.' + $ext}';
    $src: append($src, url(quote($url)) format(quote($format)), comma);
  }
  unicode-range: unquote($range);
  font-family: quote('mangadventure');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: $src;
}

.mi {
  // stylelint-disable font-family-no-missing-generic-family-keyword
  font-family: quote('mangadventure');
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
  text-align: center;
  line-height: 1em;
  display: inline-block;
  margin-right: 0.2em;
  width: 1em;
  speak: none;
  &-spin {
    margin-left: 0.2em;
    display: inline-block;
    @each $p in ('-moz-', '-o-', '-webkit-', '') {
      #{$p}animation: spin 2s infinite linear;
    }
  }
}

@each $name, $code in $codes {
  .mi-#{$name}::before {
    // https://github.com/sass/sass/issues/659#issuecomment-57326393
    content: unquote('"\\#{$code}"');
  }
}

